/* Define variables if not already defined */
$body-color: #000; // Example color, replace with actual color value

/* Styles for table headers */
table.tableOne.vgt-table thead tr th {
  background: #fff;
}

/* General table styles */
table.tableOne.vgt-table {
  font-size: 13px;
  border: none !important;
}

/* Styles for global search */
.vgt-global-search.vgt-clearfix {
  background: #fff;
  border: none !important;
}

/* Footer styles */
.vgt-wrap__footer.vgt-clearfix {
  background: #fff;
  font-size: 14px;
  border: none !important;
}

/* Styles for footer navigation buttons */
.vgt-wrap__footer .footer__navigation__page-btn span {
  font-size: 14px !important;
}

/* Styles for row count label */
.vgt-wrap__footer .footer__row-count__label {
  font-size: 14px;
  color: #909399;
  margin-bottom: 0 !important;
}

/* Styles for row count select */
.vgt-wrap__footer .footer__row-count__select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  font-size: 14px;
  margin-left: 8px;
  color: #606266;
  font-weight: 700;
}

/* Styles for footer navigation */
.vgt-wrap__footer .footer__navigation {
  font-size: 14px;
}

/* Styles for table checkboxes */
th.vgt-checkbox-col {
  border-right: none !important;
  border-bottom: 1px solid #dcdfe6;
}

/* Styles for line numbers */
th.line-numbers {
  border-right: none !important;
  border-bottom: 1px solid #dcdfe6;
}

/* Responsive styles */
@media only screen and (max-width: 750px) {
  .vgt-wrap__footer .footer__navigation__page-info {
    display: none;
  }
  .vgt-table th.sortable button {
    top: 8px;
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .vgt-table th.sortable button {
    top: 8px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .vgt-table th.sortable button {
    top: 0px;
  }
}
